{% extends "layout.html" %}
{% block content %}
<div class="col-12">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Edit {{ model_view.name }}</h3>
    </div>
    <div class="card-body border-bottom py-3">
      <form action="{{ model_view._build_url_for('admin:edit', request, obj) }}" method="POST" enctype="multipart/form-data">
        <fieldset class="form-fieldset">
          {% for field in form %}
          <div class="mb-3 form-group row">
            {{ field.label(class_="form-label col-sm-2 col-form-label") }}
            <div class="col-sm-10">
              {% if field.name == 'product' %}
                <!-- Поле для поиска продуктов -->
                <form action="/products/search" method="get">
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" name="q" placeholder="Поиск продуктов">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="submit">Искать</button>
                    </div>
                  </div>
                </form>
              {% endif %}
              {% if field.errors %}
              {{ field(class_="form-control is-invalid") }}
              {% else %}
              {{ field() }}
              {% endif %}
              {% for error in field.errors %}
              <div class="invalid-feedback">{{ error }}</div>
              {% endfor %}

              {% if field.name == 'category' %}
                <!-- Кнопка для создания категории -->
                <a href="http://localhost:8000/admin/category/create" class="btn btn-sm btn-primary">
                  <i class="fa fa-plus"></i> Создать категорию
                </a>
              {% endif %}

              {% if field.name == 'product' %}
                <!-- Кнопка для создания продукта -->
                <a href="http://localhost:8000/admin/product/create" class="btn btn-sm btn-primary">
                  <i class="fa fa-plus"></i> Создать продукт
                </a>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </fieldset>
        <div class="row">
          {% if error %}
          <div class="alert alert-danger" role="alert">{{ error }}</div>
          {% endif %}
          <div class="col-md-2">
            <a href="{{ url_for('admin:list', identity=model_view.identity) }}" class="btn">
              Cancel
            </a>
          </div>
          <div class="col-md-6">
            <div class="btn-group flex-wrap" data-toggle="buttons">
              <input type="submit" name="save" value="Save" class="btn">
              <input type="submit" name="save" value="Save and continue editing" class="btn">
              {% if model_view.save_as %}
              <input type="submit" name="save" value="Save as new" class="btn">
              {% else %}
              <input type="submit" name="save" value="Save and add another" class="btn">
              {% endif %}
              <a href="http://localhost:8000/admin/category/create" class="btn btn-sm btn-primary">
                <i class="fa fa-plus"></i> Создать категорию
              </a>

            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}