{% extends "base.html" %}

{% block head %}
    <script>
        async function registerUser() {
            const url = "http://localhost:8000/api/v1/auth/register";
            const formData = new FormData();
            formData.append('email', document.getElementById("email").value);
            formData.append('password', document.getElementById("password").value);

            await fetch(url, {
                method: 'POST',
                body: formData,
            }).then(response => {
                if (response.status === 201) {
                    window.location.href = "/pages/login"
                }
            });
        }
    </script>
{% endblock %}

{% block content %}
    <div class="flex flex-col items-center justify-center h-screen">
            <span class="font-bold text-3xl mb-10">рџЏ© РќР°Р±СЂРѕРЅРёСЂРѕРІР°Р»</span>

        <div>
            <div class="flex flex-col items-start text-xl mb-5">
                <label for="email" class="mb-1">Email</label>
                <input class="border-b-2 border-yellow-400 mb-4" id="email" name="email" type="text" value="" placeholder="artem@mail.ru">

                <label for="password" class="mb-1">РџР°СЂРѕР»СЊ</label>
                <input class="border-b-2 border-yellow-400" id="password" name="password" type="password" value="" placeholder="********">
                <span id="wrong_credentials" class="text-sm text-red-400"></span>
            </div>
        </div>
        <button onclick="registerUser()" class="text-xl bg-yellow-400 px-3 py-2 rounded-3xl mb-3">Р—Р°СЂРµРіРёСЃС‚СЂРёСЂРѕРІР°С‚СЊСЃСЏ</button>
        <span>
            РЈР¶Рµ Р·Р°СЂРµРіРёСЃС‚СЂРёСЂРѕРІР°РЅС‹?
            <a href="/pages/login"
               class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600">
                Р’РѕР№С‚Рё
            </a>
        </span>
    </div>
{% endblock %}